<!DOCTYPE html>
<html ng-app="AngularApp" lang="en">

<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <link rel="stylesheet" href="vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body ng-controller="MainCtrl">

    <div class="container">
        <form name="form" novalidate>
            <div class="row">
                <div class="col">
                    <img src="css/img/logo.png" alt="logo">
                </div>
                <div class="col">
                    <h3>
                        Add new destination
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Country</label>
                        <span class="alert" ng-show="form.code.$dirty && form.code.$invalid">
                            <small>Choose country from list!</small>
                        </span>
                        <input type="text" name="code" ng-model="formModel.country" minlength="3" class="form-control" data-animation="am-flip-x" bs-options="country for country in countries" bs-typeahead ng-required="true" />
                    </div>
                    <div class="col-md-4">
                        <label>Latitude</label>
                        <span class="alert" ng-show="form.latitude.$dirty && form.latitude.$invalid">
                            <small>Value should be in range of -90 to 90!</small>
                        </span>
                        <input type="number" name="latitude" class="form-control" ng-model="formModel.latitude" ng-required="true" latitude />
                    </div>
                    <div class="col-md-4">
                        <label>Longitude</label>
                        <span class="alert" ng-show="form.longitude.$dirty && form.longitude.$invalid">
                            <small>Value should be in range of -180 to 180!</small>
                        </span>
                        <input type="number" name="longitude" class="form-control" ng-model="formModel.longitude" ng-required="true" longitude />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" ng-disabled="form.$invalid" ng-click="addDestination()" class="btn btn-add btn-primary">+ Add destination</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row fade" ng-hide="tableEmpty()">
            <h3>
                Destinations
            </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-2">Country</th>
                        <th class="col-md-3">Latitude</th>
                        <th class="col-md-3">Longitude</th>
                        <th class="col-md-2">Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="destination in destinations">
                        <th>{{ $index + 1 }}</th>
                        <td>{{ destination.country }}</td>
                        <td>{{ destination.latitude }}</td>
                        <td>{{ destination.longitude }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="removeDestination(destination)">Remove</button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="edit(destination,$index)">Modify</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="vendor/angular.js "></script>
    <script src="vendor/angular-strap.min.js "></script>
    <script src="vendor/angular-strap.tpl.min.js "></script>
    <script src="vendor/angular-sanitize.min.js"></script>
    <script src="vendor/angular-animate.min.js"></script>
    <script src="app.js "></script>
</body>

</html>